@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: var(--font-inter), system-ui, sans-serif;
  --font-lora: var(--font-lora), Georgia, serif;

  --color-green: #0b4a3d;
  --color-gold: #d4af37;
  --color-black: #1a1a1a;
  --color-cream: #faf6ec;
}

body {
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-lora);
}

.active {
  color: #e8c468;
}
